:root {
    /* Colors */
        /* Theme color */
        --theme-color: hsl(0, 100%, 45%);

        /* Accent Yellow */
        --accent-yellow: #ffff00;

        /* Grey */
        --grey-1: #ffffff;
        --grey-2: #d9d9d9;
        --grey-6: hsla(0, 0%, 13%, 0.2);
        --grey-7: hsl(0, 0%, 100%, 0.4);
        --grey-8: hsl(0, 0%, 13%, 0.5);
        --grey-9: #000000;
        --grey: var(--grey-9);

        --grey-1-hover: hsl(from var(--theme-color) h calc(s * .6) l / .8);
        --grey-1-active: hsl(from var(--theme-color) h s 55% / 1);
    /* Fonts */
        /* Sizes */
            --font-size-1: 16px; /* 16px */
            --font-size-2: calc(var(--font-size-1) * 1.1875); /* 19px */
            --font-size-3: calc(var(--font-size-1) * 1.3225); /* 21px */
            --font-size-4: calc(var(--font-size-1) * 1.5); /* 23px */

            --font-size-p: var(--font-size-3);
            --font-size-p-small: var(--font-size-1);
            --font-size-fineprint: calc(var(--font-size-1) * 0.8);

            --font-size-h1: calc(112px); /* 112px */
            --font-size-h2: calc(0.57142 * var(--font-size-h1)); /* 64px */
            --font-size-h3: calc(var(--font-size-h2) * 0.71875); /* 46px */
            --font-size-h4: calc(var(--font-size-h3) * 0.71875); /* 33px */
            --font-size-h5: calc(var(--font-size-h4) * 0.71875); /* 24px */
            --font-size-h6: calc(var(--font-size-h5) * 0.71875); /* 17px */

            font-size: var(--font-size-3);

        /* Families */
            --font-read: 'belwe';
            --font-titles: 'belwe-bold';

        /* Line heights */
            --line-height-1: 17px;
            --line-height-2: 20px;
            --line-height-3: 22px;
            --line-height-4: 24px;
            --line-height-5: 28px;
            --line-height-6: 32px;
            --line-height-7: 36px;
            --line-height-8: 42px;
            --line-height-9: 60px;
            --line-height-10: 72px;
            --line-height-11: 96px;
        /* Letter spacing */
            --letter-spacing-1: 0em;
            --letter-spacing-2: -0.006em;
            --letter-spacing-3: -0.011em;
            --letter-spacing-4: -0.014em;
            --letter-spacing-5: -0.017em;
            --letter-spacing-6: -0.019em;
            --letter-spacing-7: -0.022em;
    /* Spacing */
        --spacing-base:8px;
        --spacing-scale: 1;

        --spacing-1: calc(var(--spacing-base) * var(--spacing-scale)); /* 8px */
        --spacing-2: calc(var(--spacing-1) * 2); /* 16px */
        --spacing-3: calc(var(--spacing-2) * 2); /* 32px */
        --spacing-4: calc(var(--spacing-3) * 2); /* 64px */
        --spacing-5: calc(var(--spacing-4) * 2); /* 128px */
        --spacing-6: calc(var(--spacing-5) * 2); /* 256px */
        --spacing-7: calc(var(--spacing-6) * 2); /* 512px */
        --spacing-8: calc(var(--spacing-7) * 2); /* 1024px */
        --spacing-9: calc(var(--spacing-8) * 2); /* 2048px */

    /* Z-INDEX */
        /* Use these -b- suffix for background elements */
        --z-index-b-1: -1; /* B stands for bottom, not base */
        --z-index-b-2: -2;
        --z-index-b-3: -3;
        --z-index-b-4: -4;
        --z-index-b-5: -5;
        --z-index-b-6: -6;
        --z-index-b-7: -7;
        --z-index-b-8: -8;
        --z-index-b-9: -9;

        /* Regular elements */
        --z-index-1: 1;
        --z-index-2: 2;
        --z-index-3: 3;
        --z-index-4: 4;
        --z-index-5: 5;
        --z-index-6: 6;
        --z-index-7: 7;
        --z-index-8: 8;
        --z-index-9: 9;

        /* Use these -t- suffix for top elements like modals */
        --z-index-t-1: 11; /* T stands for top */
        --z-index-t-2: 12;
        --z-index-t-3: 13;
        --z-index-t-4: 14;
        --z-index-t-5: 15;
        --z-index-t-6: 16;
        --z-index-t-7: 17;
        --z-index-t-8: 18;
        --z-index-t-9: 19;
    /* Component Sizes */
        --navbar-height: 49px;
        --design-width: 1920px;
        --design-content-width: calc(var(--design-width) * 0.9218);
        --border-radius: 0px;
        --body-bg-color: var(--grey);
        --body-text-color: var(--grey-1);
        --padding--video-background-page--inline: 68px;
        --padding--video-background-page--block: 46px;
        --padding--video-background-page: var(--padding--video-background-page--block) var(--padding--video-background-page--inline);
    /* Component colors */
        --color-vbpl-veneer-color: hsl(from var(--grey) h s l / 0.14);
}

/*=============================================
=            Normalize            =
=============================================*/

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: var(--font-read);
        font-size: var(--font-size-3);
        color: var(--body-text-color);
        background-color: var(--body-bg-color);
    }

    main {
        padding: var(--navbar-height) 0 0 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-titles);
        font-weight: normal;
        line-height: 1;
        margin: 0;
    }

    h1 {
        font-size: var(--font-size-h2);
    }

    ul, ol, menu, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

/*=====  End of Normalize  ======*/

/*=============================================
=            Texts            =
=============================================*/


    a {
        color: var(--body-text-color);
        transition: color 0.5s ease-out;

        &:hover {
            color: var(--grey-1-hover);
        }
        &.force-hover:hover {
            color: var(--grey-1-hover) !important;
        }

        &:active {
            color: var(--grey-1-active);
        }
        &.force-hover:active {
            color: var(--grey-1-active) !important;
        }
        
    }

    .main-content-paragraph {
        font-size: calc(var(--font-size-p) * 1.1429);
        line-height: 1.25;
        text-align: center;
    }

/*=====  End of Texts  ======*/

/*=============================================
=            Buttons            =
=============================================*/

    button, .txc-button {
        font-family: var(--font-titles);
        background-color: var(--theme-color);
        color: var(--grey-1);
        font-weight: 600;
        font-size: var(--font-size-1);
        padding: calc(var(--spacing-2) * 1.0625) calc(var(--spacing-3) * 0.8125);
        border: none;
        line-height: 1;
        text-transform: uppercase;

        &.discourage-btn {
            font-family: var(--font-read);
            background-color: transparent;
            color: var(--grey-1); /* TODO: This has terribe contrast but it's how the button appears in the figma design. Confirm this was intentional */
            border: 1px solid var(--theme-color);
            text-transform: none;
        }
    }

/*=====  End of Buttons  ======*/

/*=============================================
=            Layout            =
=============================================*/

    ul.txc-ctas-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: min(42px, 2.1875dvw);
        list-style: none;
    }

    .txc-common-main-content-layout {
        display: flex;
        font-size: var(--font-size-3);
        flex-direction: column;
        align-items: center;
        gap: 1.8095em;
        & p {
            margin: 0;
        }

        & ul.txc-ctas-container {
            margin-top: 1.1428em;
        }
    }

/*=====  End of Layout  ======*/


/*=============================================
=            Debug            =
=============================================*/

    .debug{
        border: 1px solid red;
    }

    .adebug{
        border: 1px solid rgb(255, 72, 72);
    }

    .debug > * {
        border: 1px solid red;
    }

    .adebug *{
        border: 1px solid rgb(107, 107, 255);
    }

    .dtwo{
        border: 1px solid blue !important;
    }

    .dthree{
        border: 1px solid green !important;
    }

    .dfour{
        border: 1px solid yellow !important;
    }

/*=====  End of Debug  ======*/



/*=============================================
=            Responsive            =
=============================================*/


    @container vbpl-vertical-cc (width <= 1080px) {
        .txc-common-main-content-layout {
            align-items: start;
            font-size: 3.5978cqh;

            & .main-content-paragraph {
                font-size: inherit;
            }
        }

        .main-content-paragraph {
            text-align: left;
        }

    }

    @container (width < 1080px) {
        main.vbpl-page {
            width: 100cqw;
            height: 100cqh;
        }
    }

    @media (max-aspect-ratio: 0.98) {
        :root {
            --font-size-1: 0.833dvh;
            --font-size-h1: 5.833dvh;
    
            --spacing-base: 0.41667dvh;
    
            --padding--video-background-page--inline: 5.277dvw;
            --padding--video-background-page--block: 2.96dvh;
            --navbar-height: 3.8514dvh;
        }

        button, .txc-button {
            --btn-border-width: min(4px, 0.3svh);

            font-size: var(--font-size-4);
            padding: 1.2em 1em;
            text-transform: none;
            border: var(--btn-border-width) solid var(--theme-color);
            background-color: transparent;

            &.discourage-btn {
                border-color: var(--grey-1);
            }
        }
    }

/*=====  End of Responsive  ======*/



